    <section class="article-header">
        <header>
            <span class="icon"><i class="fa fa-pencil"></i></span>
            <h1>{{ post.name|default(post.title|title) }}</h1>
            <h3>Post written on <time pubdate datetime="{{ post.date | date("Y-m-d") }}">{{ post.date | date("F jS, Y") }}</time> by {{ site.author.name }}</h3>
        </header>
    </section>
    <section class="article-body">
        <div>
            {{ post.content }}
        </div>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/monokai_sublime.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
        <script>hljs.initHighlighting();</script>
    </section>
    <section class="article-comments">
        <header>
            <span class="icon"><i class="fa fa-comments"></i></span>
        </header>
        <script type="text/javascript">var disqus_shortname = 'lancepioch';</script>
        <script type="text/javascript" src="https://go.disqus.com/embed.js" async></script>
        <div id="disqus_thread"></div>
    </section>